<!DOCTYPE html>
<html>
<head>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>

    <!-- Title -->
    {% if title %}<title>{{ title }} - WeLex</title>{% else %}<title>WeLex</title>{% endif %}

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Icons -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

</head>
<body>
	<div class="uk-height-viewport uk-flex uk-flex-center uk-flex-middle uk-background-muted">
        <div class="uk-padding-large uk-background-default uk-box-shadow-xlarge">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>