{% extends "auth/base.html" %}

{% block content %}
<div class="uk-inline uk-text-middle">
    <h1 class="uk-header-small uk-padding-remove uk-margin-remove" id="loginHeader"><img src="{{ url_for('static', filename='logo.png') }}" alt="app_logo" height="45px" width="45px" class="uk-margin-remove uk-padding-remove"/> Login</h1>
</div>
<form action="" method="POST" class="uk-form uk-background-default">
    {{ form.hidden_tag() }}
    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="user"></span>
            {{ form.username(class='uk-input', placeholder='{}'.format(form.username.label).split('>')[1].split('<')[0]) }}
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="lock"></span>
            {{ form.password(class='uk-input', placeholder='{}'.format(form.password.label).split('>')[1].split('<')[0]) }}
        </div>
    </div>
    <div class="uk-margin">
        <label>{% if cookie_save_user_pass %}{{ form.remember_user_pass(class='uk-checkbox', checked="true") }}{% else %}{{ form.remember_user_pass(class='uk-checkbox') }}{% endif %} {{ '{}'.format(form.remember_user_pass.label).split('>')[1].split('<')[0] }}</label><br>
        <label>{{ form.remember_me(class='uk-checkbox') }} {{ '{}'.format(form.remember_me.label).split('>')[1].split('<')[0] }}</label>
    </div>
    <button action="submit" class="uk-button uk-button-default">Entrar</button>
</form>
<a class="uk-button uk-button-text uk-margin-top" href="{{ url_for('auth.register') }}">Registrarse con clave <span uk-icon="arrow-right"></span></a>
{% endblock %}