{% extends "auth/base.html" %}

{% block content %}
<div class="uk-inline uk-text-middle">
    <h1 class="uk-header-small uk-padding-remove uk-margin-remove" id="loginHeader"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="app_logo" height="45px" width="45px" class="uk-margin-remove uk-padding-remove"/> {{ _('Register') }}</h1>
</div>
<form action="" method="POST" class="uk-form uk-background-default">
    {{ form.hidden_tag() }}
    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="user"></span>
            {{ form.name(class='uk-input', placeholder='{}'.format(form.name.label).split('>')[1].split('<')[0]) }}
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="code"></span>
            {{ form.token(class='uk-input', placeholder='{}'.format(form.token.label).split('>')[1].split('<')[0]) }}
        </div>
    </div>
    <div class="uk-margin">
        <label>{{ form.remember_user_pass(class='uk-checkbox') }} {{ '{}'.format(form.remember_user_pass.label).split('>')[1].split('<')[0] }}</label><br>
        <label>{{ form.login_after(class='uk-checkbox') }} {{ '{}'.format(form.login_after.label).split('>')[1].split('<')[0] }}</label>
    </div>
    <button action="submit" class="uk-button uk-button-default"> {{ _('Next') }}</button>
</form>
<a class="uk-button uk-button-text uk-margin-top" href="{{ url_for('auth.login') }}">{{ _('Login') }} <span uk-icon="arrow-right"></span></a>
{% endblock %}