{% extends "auth/base.html" %}

{% block content %}
<div class="uk-inline uk-text-middle">
    <h1 class="uk-header-small uk-padding-remove uk-margin-remove" id="loginHeader"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="app_logo" height="45px" width="45px" class="uk-margin-remove uk-padding-remove"/> {{ _('Complete registration') }}</h1>
</div>
<form action="" method="POST" class="uk-form uk-background-default">
    {{ form.hidden_tag() }}
    <!-- Alias -->
    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="user"></span>
            {{ form.username(class='uk-input', placeholder='{}'.format(form.username.label).split('>')[1].split('<')[0]) }}
        </div>
    </div>
    <!-- Email -->
    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="mail"></span>
            {{ form.email(class='uk-input', placeholder='{}'.format(form.email.label).split('>')[1].split('<')[0]) }}
        </div>
    </div>
    <!-- Password -->
    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="lock"></span>
            {{ form.password(class='form-password uk-input', placeholder='{}'.format(form.password.label).split('>')[1].split('<')[0]) }}
            <div class="form-password--drop" uk-drop>
                <pre>
<b>Make your password secure</b>
<span uk-icon="close" class="longer10Icon"></span> Longer than 10 characters
<span uk-icon="close" class="lowercaseIcon"></span> Includes lowercase
<span uk-icon="close" class="uppercaseIcon"></span> Includes uppercase
<span uk-icon="close" class="numberIcon"></span> Includes a number
<span uk-icon="close" class="specialIcon"></span> Includes a special character
                </pre>
            </div>
        </div>
        <div class="form-password--progress uk-progress uk-text-primary" value="0" max="4"></div> 
    </div>
    <!-- Repeat password -->
    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="lock"></span>
            {{ form.password(class='uk-input', placeholder='{}'.format(form.password.label).split('>')[1].split('<')[0]) }}
        </div>
    </div>
    <button action="submit" class="uk-button uk-button-default">{{ _('Register') }}</button>
</form>
{% endblock %}