{% extends "auth/base.html" %}

{% block content %}
<div class="uk-inline uk-text-middle">
    <h1 class="uk-header-small uk-padding-remove uk-margin-remove" id="loginHeader"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="app_logo" height="45px" width="45px" class="uk-margin-remove uk-padding-remove"/>
		{{ _("Error") }} 401</h1>
</div>
<div class="uk-text-middle uk-text-center uk-margin-large">
	<p class="uk-text-lead uk-text-bold">{{ _("User is not authorized") }}</p>
	<p>{{ _("Ensure that you are logged in with an active account") }}{#Asegúrese de tener iniciada sesión con una cuenta activa para acceder#}</p>
</div>
<a href="{{ url_for('core.start') }}" class="uk-button uk-button-text">{{ _("Go back home") }}<span uk-icon="arrow-right"></span></a>
{% endblock %}