{% extends "auth/base.html" %}

{% block content %}
<div class="uk-inline uk-text-middle">
    <h1 class="uk-header-small uk-padding-remove uk-margin-remove" id="loginHeader"><img src="{{ url_for('static', filename='logo.png') }}" alt="app_logo" height="45px" width="45px" class="uk-margin-remove uk-padding-remove"/> Error 406</h1>
</div>
<div class="uk-text-middle uk-text-center uk-margin-large">
	<p class="uk-text-lead uk-text-bold">Solicitud no aceptable</p>
	<p>El servidor no ha encontrado una respuesta aceptable</p>
</div>
<a href="{{ url_for('core.start') }}" class="uk-button uk-button-text">Volver a inicio<span uk-icon="arrow-right"></span></a>
{% endblock %}