% extends "auth/base.html" %}

{% block content %}
<div class="uk-inline uk-text-middle">
    <h1 class="uk-header-small uk-padding-remove uk-margin-remove" id="loginHeader"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="app_logo" height="45px" width="45px" class="uk-margin-remove uk-padding-remove"/>
		{{ _("Error") }} 418</h1>
</div>
<div class="uk-text-middle uk-text-center uk-margin-large">
	<p class="uk-text-lead uk-text-bold">{{ _("I'm a teapot!") }}</p>
	<p>{{ _("I'm sorry I cannot brew coffe, I'm only a teapot") }}{#Siento no poder hacer café, solo soy una tetera#}</p>
</div>
<a href="{{ url_for('core.start') }}" class="uk-button uk-button-text">{{ _("Go back home") }}<span uk-icon="arrow-right"></span></a>
{% endblock %}