{% extends "base.html" %}

{% block content %}
<!-- Cabecero -->
<div class="uk-margin-top uk-margin-bottom">
    <h1 class="uk-header">{{ _('Daily Agenda') }}</h1>
    <br>
    <form action="{{ url_for('agen.start', date=date) }}" method="GET">
        <label class="uk-form-label uk-text-bolder" for="day">{{ _('Jump to date:') }} </label>
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="calendar"></span>
            <input class="uk-input uk-width-auto" type="date" name="date" id="date"{% if date%} value="{{ date }}"{% endif %}>
        </div>
        <button class="uk-button uk-button-primary" action="submit">{{ _('Go') }} <span uk-icon="chevron-right"></span></button>
    </form>
</div>
<!-- Tabla agenda -->
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-divider uk-table-hover uk-tale-justify uk-table-middle">
        <caption class="uk-margin-remove uk-padding-remove">
            <span class="uk-align-left uk-text-lead">23 de agosto 2020</span>
            <!-- AA TODO:moment.js -->
            <div class="uk-align-right uk-link-reset uk-flex uk-flex-middle">
                <a href="" class="uk-margin-small-right"><span class="uk-margin-small-right" uk-pagination-previous></span> {{ _('Previous') }}</a>
                <a href="">{{ _('Next') }} <span class="uk-margin-small-left" uk-pagination-next></span></a>
            </div>
        </caption>
        <thead>
            <th class="uk-table-shrink">{{ _('Visibility') }}</th> <!-- TODO: Mover despues de autor? -->
            <th class="uk.table-shrink">{{ _('Type') }}</th>
            <th class="uk-table-expand">{{ _('Content') }}</th>
            <th>{{ _('Author') }}</th>
            <th class="uk-table-shrink">{{ _('Actions') }}</th>
        </thead>
        <tbody>
            <tr>
                <td><span uk-icon="lock" uk-tooltip="{{ _('Private') }}"></span></td>
                <td>{{ _('Reminder') }}</td>
                <td>Minutar Exp 6787</td>
                <td>Ramón De Uña</td>
                <td><ul class="uk-iconnav">
                    <li><a href="agenda/editar/6787" uk-icon="pencil" uk-tooltip="{{_('Edit') }}"></a></li>
                    <li><a href="agenda/eliminar/6787" uk-icon="trash" uk-tooltip="{{ _('Delete') }}"></a></li>
                    <li><a href="expedientes/67-20" uk-icon="file-text" uk-tooltip="{{ _('Go to dossier') }}"></a></li>
                    <li><a href="agenda/completar/6787" uk-icon="check" uk-tooltip="{{ _('Mark as completed') }}"></a></li>
                </ul>
                </td>
            </tr>
            <tr>
                <td><span uk-icon="unlock" uk-tooltip="{{ _('Public') }}"></span></td>
                <td>{{ _('Due') }}</td>
                <td>Entrega delaraciones Nº Exp 67/20</td>
                <td>Marta Díaz</td>
                <td><ul class="uk-iconnav">
                    <li><a href="agenda/editar/6787" uk-icon="pencil" uk-tooltip="{{ _('Edit') }}"></a></li>
                    <li><a href="agenda/eliminar/6787" uk-icon="trash" uk-tooltip="{{ _('Delete') }}"></a></li>
                    <li><a href="expedientes/67-20" uk-icon="file-text" uk-tooltip="{{ _('Go to dossier') }}"></a></li>
                </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <!--ul class="uk-pagination">
        <li><a href=""><span class="uk-margin-small-left-right" uk-pagination-previous></span> Anterior</a></li>
        <li><a href="">Siguiente <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
    </ul-->
</div>
{% endblock %}