<!DOCTYPE html>
<html lang="{{ g.locale }}">
<head>

    <!-- UIKit CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}" />
    <!-- UIKit JS -->
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <!-- UIKit Icons -->
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>

    <!-- JQuery CDN -->
    <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>

    <!-- Title -->
    {% if title %}<title>{{ title }} - WeLex</title>{% else %}<title>WeLex</title>{% endif %}

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Icons -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

    {% if form %}
    <!-- Custom dynamic validation script -->
    <script type="text/javascript" scr="{{ url_for('static', filename='js/form-validate.js') }}"></script>
    {% endif %}

</head>
<body>
    <div id="loading" class="toggle" hidden>
        <!--a class="uk-margin-large uk-padding-large uk-close-large uk-overlay uk-postion-z-index uk-position-absolite" uk-toggle="target: .toggle" uk-close></a-->
        <div class="uk-height-viewport uk-flex uk-flex-center uk-flex-middle uk-position-relative">
            <div uk-spinner="ratio: 2.5"></div>
		    <div class="uk-position-top-left uk-padding" uk-toggle="target: .toggle" uk-close></div>
        </div>
    </div>
    <!--
    <script>
        var x = document.getElementById("loading");
        console.log("Got loading div: " + x);
        if (x.style.visibility === "hidden") {
            console.log("Loading (" + x + ") is hidden, changing state: " + x.style.visibility);
            x.style.visibility = "hidden";
            document.getElementById("content").style.visibility = "visible";
        }
    </script>
    -->
    <div id="content" class="toggle">
        <!-- Navbar -->
        <div class="uk-navbar-container uk-sticky uk-sticky-fixed">
            <div id="nav-container" class="uk-container uk-navbar-container">
                <nav class="uk-navbar-container" uk-navbar>
                    <!-- Navbar content for screens bigger than small -->
                    <div class="uk-navbar-left nav-overlay uk-visible@s">
                        <ul class="uk-navbar-nav">
                            <li class="{% if inicio %}uk-active{% endif %}"><a href="{{ url_for('core.start') }}" uk-toggle="target: .toggle">{{ _('Home') }}</a></li>
                            <li class="{% if agenda %}uk-active{% endif %}"><a href="{{ url_for('agen.start') }}" uk-toggle="target: .toggle">{{ _('Agenda') }}</a></li>
                            <li class="{% if expediente %}uk-active{% endif %}"><a href="{{ url_for('exp.start') }}" uk-toggle="target: .toggle">{{ _('Dossiers') }}</a></li>
                            <li class="{% if minutacion %}uk-active{% endif %}"><a href="{{ url_for('min.start') }}" uk-toggle="target: .toggle">{{ _('Billing') }}</a></li>
                            <li class="{% if listin %}uk-active{% endif %}"><a href="{{ url_for('list.start') }}" uk-toggle="target: .toggle">{{ _('Directory') }}</a></li>
                        </ul>
                    </div>
                    <!-- Toggle icon for small screens -->
                    <div class="uk-navbar-left nav-overlay uk-hidden@s">
                        <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#navbar-off" uk-toggle="#navbar-off"></a>
                    </div>
                    <!-- Small screen of canvas panel -->
                    <div id="navbar-off" uk-offcanvas="overlay:true; mode=push">
                        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
                            <button class="uk-offcanvas-close" type="button" uk-close></button>
                            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                                <li class="{% if inicio %}uk-active{% endif %}"><a href="{{ url_for('core.start') }}" uk-toggle="target: .toggle">{{ _('Home') }}</a></li>
                                <li class="{% if agenda %}uk-active{% endif %}"><a href="{{ url_for('agen.start') }}" uk-toggle="target: .toggle">{{ _('Agenda') }}</a></li>
                                <li class="{% if expediente %}uk-active{% endif %}"><a href="{{ url_for('exp.start') }}" uk-toggle="target: .toggle">{{ _('Dossiers') }}</a></li>
                                <li class="{% if minutacion %}uk-active{% endif %}"><a href="{{ url_for('min.start') }}" uk-toggle="target: .toggle">{{ _('Billing') }}</a></li>
                                <li class="{% if listin %}uk-active{% endif %}"><a href="{{ url_for('list.start') }}" uk-toggle="target: .toggle">{{ _('Directory') }}</a></li>
                                <!--
                                <li class="uk-nav-divider"></li>
                                <li><a href="{{ url_for('core.settings') }}" uk-icon="settings">Ajustes</a></li>
                                -->
                            </ul>
                        </div>
                    </div>
                    <!-- User and search icons -->
                    <div class="uk-navbar-right nav-overlay">
                        <ul class="uk-navbar-nav">
                            <li><a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a></li>
                            <li>
                                <a class="uk-parent" uk-icon="user"></a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="{{ url_for('core.settings') }}" uk-toggle="target: .toggle"><span uk-icon="settings"></span> {{ _('Settings') }}</a></li>
                                        <li><a href="https://hipycas.gitbook.io/welex" rel="noopener noreferrer" target="_blank" uk-toggle="target: .toggle"><span uk-icon="copy"></span> {{ _('Documentation') }}</a></li>
                                        <li><a href="{{ url_for('core.help') }}" uk-toggle="target: .toggle"><span uk-icon="question"></span> {{ _('Help') }}</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><ul class="uk-iconnav uk-padding-small">
                                            <li><a href="{{ url_for('core.backup') }}" uk-toggle="target: .toggle" uk-icon="cloud-download"></a></li>
                                            <li><a href="{{ url_for('auth.users') }}" uk-toggle="target: .toggle" uk-icon="users"></a></li>
                                            <li><a href="{{ url_for('auth.logout') }}" uk-toggle="target: .toggle" uk-icon="sign-out"></a></li>
                                        </ul></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Navbar overlay search field -->
                    <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
                        <div class="uk-navbar-item uk-width-expand">
                            <form class="uk-search uk-search-navbar uk-width-1-1" action="search" method="GET">
                                <input class="uk-search-input" type="search" placeholder="{{ _('Search...') }}" autofocus>
                                <button action="submit" uk-toggle="target: .toggle" hidden></button>
                            </form>
                        </div>
                        <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Contenido -->
        <div class="uk-container">
            {% block content %}{% endblock %}
        </div>
        <br>
    </div>
</body>
</html>
