{% extends "base.html" %}

{% block content %}
<div id="cabecero" class="uk-margin-top uk-margin-bottom">
    <h1 class="uk-header-large uk-margin-remove">23 de agosto  del 2020</h1>
    <h5 class="uk-text-muted uk-margin-remove">Iniciada sesión como {{ current_user.nombre }} {{ current_user.apellidos }}</h5>
</div>
<div id="agenda-hoy" class="uk-article">
    <h1 class="uk-article-title"><a href="{{ url_for('agen.start') }}" class="uk-link-reset">Agenda hoy</a></h1>
    <div id="tableOverflow" class="uk-overflow-auto">
        <table class="uk-table uk-table-divider uk-table-hover uk-tale-justify uk-table-middle">
            <caption class="">
                <span class="uk-align-left uk-margin-remove">23 de agosto 2020</span>
                <span class="uk-align-right uk-margin-remove">2 items</span>
            </caption>
            <thead>
                <th class="uk-table-shrink">Visibilidad</th> <!-- TODO: Mover despues de autor? -->
                <th class="uk.table-shrink">Tipo</th>
                <th class="uk-table-expand">Contenido</th>
                <th>Autor</th>
                <th class="uk-table-shrink">Acciones</th>
            </thead>
            <tbody>
                <tr>
                    <td><span uk-icon="lock" uk-tooltip="Privado"></span></td>
                    <td>Recordatorio</td>
                    <td>Minutar Exp 6787</td>
                    <td>Ramón De Uña</td>
                    <td><ul class="uk-iconnav">
                        <li><a href="agenda/editar/6787" uk-icon="pencil" uk-tooltip="Editar"></a></li>
                        <li><a href="agenda/eliminar/6787" uk-icon="trash" uk-tooltip="Eliminar"></a></li>
                        <li><a href="expedientes/67-20" uk-icon="file-text" uk-tooltip="Ir a expediente"></a></li>
                        <li><a href="agenda/completar/6787" uk-icon="check" uk-tooltip="Marcar como completado"></a></li>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td><span uk-icon="unlock" uk-tooltip="Público"></span></td>
                    <td>Vencimiento</td>
                    <td>Entrega delaraciones Nº Exp 67/20</td>
                    <td>Marta Díaz</td>
                    <td><ul class="uk-iconnav">
                        <li><a href="agenda/editar/6787" uk-icon="pencil" uk-tooltip="Editar"></a></li>
                        <li><a href="agenda/editar/6787?eliminar=1" uk-icon="trash" uk-tooltip="Eliminar"></a></li>
                        <li><a href="expedientes/67-20" uk-icon="file-text" uk-tooltip="Ir a expediente"></a></li>
                        <li><a href="agenda/editar/6787?=completar=True" uk-icon="check" uk-tooltip="Marcar como completado"></a></li>
                    </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}